{% extends 'base.html.twig' %}

{% block title %}Hello CopiesDuQuizController!{% endblock %}

{% block body %}

    <div class="copies-du-quiz">
        <h1>Copies des élèves qui ont répondus au Quiz</h1>


        <h2> Liste des Copies</h2>
        {% for copie in quiz.copies %}
            <a href="{{ path('app_copie_correction', {'id': copie.id}) }}">
                <div class="copie-eleve">
                        <p class="question-description">- Copie de {{ copie.user }} ( / {{ quiz.noteMax }} ) </p>
                </div>
            </a>
        {% endfor %}
        {% if ('ROLE_PROF' in app.user.roles) %}
            <div class="copies-du-quiz-retour">
                <a href="/quiz/clos">
                    <button class="button">
                        Revenir aux Quizs terminés
                    </button>
                </a>
            </div>
            <br/>
        {% endif %}
    </div>
{% endblock %}