@use "/assets/styles/theme.scss";
.accueil-view {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 3vw;
  overflow: hidden;
}

.accueil-view h1 {
  align-self: flex-start;
}

.bandeau-top{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.accueil-block-ticket {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1vh;
  overflow: hidden;
}
.accueil-def-quiz{
  width: 25%;
  display: flex;
  justify-content: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.all-tickets-container {
  max-height: 80%;
  overflow-y: scroll;
}
.accueil-block-ticket a {
  display: flex;
  max-height: 8vh;
  margin-bottom: 1vh;
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}

.accueil-block-ticket a:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.all-quizs-container,
.accueil-block-quizs{
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.liens-quiz{
  margin-top: 10px;
  width: 100%;
}
.accueil-titre-quiz{
  width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.accueil-contenu-quiz{
  width: 25%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
